<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Books Search Engine Admin</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!--<link href="static/css/signin.css" rel="stylesheet">-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="center-block">
                <h1>Books Search Engine Admin</h1>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Create index</div>
                <div class="panel-body">
                    <form id="create" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="create">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Add book</div>
                <div class="panel-body">
                    <form id="add" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="add">
                        <div class="form-group">
                            <label for="book">Book file</label>
                            <input type="file" id="book" name="book" required>
                            <p class="help-block">Specify book in PDF file format.</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Count items in index</div>
                <div class="panel-body">
                    <form id="count" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="count">
                        <button type="submit" class="btn btn-primary">Count</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Search items in index</div>
                <div class="panel-body">
                    <form id="search" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="search">
                        <div class="form-group">
                            <label for="inputQuery" class="sr-only">Query</label>
                            <input type="text" name="q" value="" id="inputQuery" class="form-control" placeholder="What we whill search in books?" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Search items in index</div>
                <div class="panel-body">
                    <form id="search_advanced" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="search_advanced">
                        <div class="form-group">
                            <label for="inputQ" class="sr-only">Query Builder</label>
                            <!--<input type="text" name="q" value="" id="inputQ" class="form-control" placeholder="What we whill search in books?" required>-->
                            <textarea name="q" id="inputQ" class="form-control" rows="3" placeholder="'query': {'match_all': {}}" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">Delete index</div>
                <div class="panel-body">
                    <form id="delete" method="POST">
                        <input type="text" hidden="hidden" name="cmd" value="delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="container"></div>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script></script>
</body>
</html>