<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Books Search Engine</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!--<link href="static/css/signin.css" rel="stylesheet">-->
</head>
<body>
    <div class="container">
        <div class="center-block">
            <h1>Books Search Engine</h1>

            <div class="form">
                <form id="main" method="POST">
                    <div class="form-group">
                        <label for="inputQuery" class="sr-only">Query</label>
                        <input type="text" name="q" value="" id="inputQuery" class="form-control" placeholder="What we whill search in books?" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name="email" value="" id="inputEmail" class="form-control" placeholder="Your e-mail for search results" required>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script></script>
</body>
</html>